.popup {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  width: 100%;
  transform: translateY(-500px);
  transition: all 0.5s ease-in-out;
}

.popup.addPopup {
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

.inputsearch::placeholder {
  color: var(--black-color);
}

.popup input {
  width: 100%;
  outline: none;
}

.navlinks > a::before {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='20px' height='20px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' stroke='%23FFFFFF'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M10 7L15 12L10 17' stroke='%23FFFFFF' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  rotate: 90deg;
  right: -25px;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

.navlinks:hover::before {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
.sublinks {
  transition: 0.3s ease-in-out;
}
.sublinks:hover {
  transform: translateX(20px);
}
